.button {
    background-color: #e40d0d;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    color: #333;
    cursor: grabbing;
    font-size: min(1em, 1rem);
    font-weight: 400;
    padding: min(1vh, 1vw) min(2vh, 2vw);
    transition: all 0.15s ease;
    text-align: center;
    text-wrap: nowrap;
}