.card {
    background-color: #fcfcfcc2;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.425);
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: min(3vh, 8vw);
    padding-right: min(6vh, 3vw);
    padding-bottom: min(4vh, 8vw);
    padding-left: min(6vh, 3vw);
}

.card:hover {
    background-color: #f2f2f2;
    border: 2px solid rgba(0, 0, 0, 0.514);
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.425);
}

.title {
    text-align: center;
    margin-bottom: 1vh;
    font-size: min(2.7vh, 4.9vw);
}

.line {
    width: clamp(20%, 50%, 80%);
    height: 2px;
    background-color: rgba(0, 0, 0, 0.767);
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.356);
    margin: auto;
    margin-bottom: 1.5vh;
}

.subtitle {
    text-align: center;
    margin-bottom: 1vh;
    font-size: min(2.3vh, 3.7vw);
}

.body1 {
    text-align: center;
    margin: auto;
    font-size: min(2.5vh, 3vw);
}

.body2 {
    text-align: center;
    margin: auto;
    font-size: min(2.5vh, 3vw);
}

.address {
    text-align: center;
    text-decoration: wavy;
    margin-bottom: 1vh;
    font-size: min(2.5vh, 3vw);
}

.email {
    text-align: center;
    text-decoration: wavy;
    margin: 1vh;
    font-size: min(2.5vh, 3vw);
}

.phone {
    text-align: center;
    text-decoration: wavy;
    margin: auto;
    font-size: min(2.5vh, 3vw);
}
