.header {
    width: 100%;
    max-height: 50vh;
    min-height: 25vh;
    background-color: rgb(68, 67, 67);
    display: flexbox;
    padding: 1vh;
}

.header:hover {
    background-color: rgb(92, 88, 88);
}

.title {
    width: 100%;
    max-height: 30vh;
    min-height: 2vh;
    padding-top: 1vh;
}

#title {
    text-align: center;
    font-size: max(8vw, 5vh);
    font-weight: 700;
    color: white;
}

.subtitle {
    width: 100%;
    max-height: 10vh;
    min-height: 3vh;
    margin: auto auto;
    padding-bottom: 0.75vh;
    justify-content: center;
    align-content: center;
}

#subtitle {
    text-align: center;
    font-size: max(2vw, 1.5vh);
    font-weight: 500;
    color:rgb(211, 207, 203);
}

.iconsSection {
    max-height: min(15vh, 10vw);
    min-height: max(8vh, 5vw);
    display: flex;
}

.icons {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-trim: all;
}

.image1 {
    margin-left: 1vw;
    display: flex;
}

.logo {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
}

.image2 {
    margin-right: 1vw;
    display: flex;
}

#logo {
    margin: auto auto;
    width: auto;
    height: 100%;
}

#image1 {
    width: auto;
    height: 40%;
    margin: auto auto;
    
}

#image2 {
    width: auto;
    height: 40%;
    margin: auto auto;
}

@media (max-width: 299px) {
    
    .icons {
        display: none;
    }

}